<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>酆都城</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="css/community.css"/>
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{navigation :: nav}"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <span class="glyphicon glyphicon-yen" aria-hidden="true"><h2>发现</h2></span>
            <hr>
            <div class="media" th:each="question:${questions.question}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-circle"  th:src="@{question.avatarUrl}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">悬赏九千万</h4>
                    <a th:href="@{'/question/'+${question.id}}" th:text="${question.title}"></a>
                    <span class="text-desc"><span th:text="${#dates.format(question.gmtCreat,'dd MMMM yyyy')}"></span></span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:each="page:${questions.pages}"><a href="/" th:text="${page}" th:href="@{/(page=${page})}" th:class="${questions.pages==page}?'active':''"></a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            热门悬赏
        </div>
    </div>
</div>

</body>
</html>